@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Beaufort";
    src: url("../public/BeaufortForLoL-OTF/BeaufortforLOL-Regular.otf");
}

@font-face {
    font-family: "Beaufort";
    src: url("../public/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Beaufort";
    src: url("../public/BeaufortForLoL-OTF/BeaufortforLOL-Heavy.otf");
    font-weight: "bolder";
}

@font-face {
    font-family: "Beaufort";
    src: url("../public/BeaufortForLoL-OTF/BeaufortforLOL-Light.otf");
    font-weight: "light";
}